<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<title>Credit calculator</title>
</head>
<body>
<p>Credit calculator</p>

<form action="/table" method="POST">
	Credit amount: <input type="number" name="amount" value="100000" min="100000" max="5000000"/>
	<p>
		Month count: <input type="range" name="count" value="12" min="12" max="60" step="1" list="months"/>
		<datalist id="months">
			<option value="12" label="12m">
			<option value="24" label="24m">
			<option value="36" label="36m">
			<option value="48" label="48m">
			<option value="60" label="60m">
		</datalist>
	<p>
		Rate: <input type="number" name="rate" value="15.5" min="12.9" max="23.9" step="0.1"/>
	<p>
		<input type="submit" value="Calc">
</form>
</body>
</html>
